html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-image:  url("https://raw.githubusercontent.com/yolandamac/yolandamac.train_schedule.io//master/assets/images/207500865-background-images-for-websites-23.jpg");
}

.jumbotron
{   
    padding-top: 0px;
    padding-bottom:0px;
    background-image:url("https://raw.githubusercontent.com/yolandamac/yolandamac.train_Schedule.io/master/assets/imagesassets/images/207500865-background-images-for-websites-23.jpg");
    background-size: cover;
    background: contain;
    width: 100%; 
    height: 150px;
    max-width:1400px;
 }

 .panel-primary>.panel-heading {
    color: #fff;
    background-color: #00356B;
    border-color: #00356B;
}

.btn-primary {
    color: #fff;
    background-color: #00356B;
    border-color: #00356B;
}

